* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.wire {
	border: 1px dashed black;
}

.info > h1 {
	font-size: 75px
}







/*desktop*/
@media only screen and (min-width: 961px) {
.info {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#sticky-sidebar{
	position:fixed;

}

.left {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/me2.jpg');
    height: 1000px;
}


}

/*tablets*/
@media only screen and (min-width: 416px) and (max-width: 960px) {
.info {
	text-align: center;
	margin-top: 50px;
}
.left {
	padding: 100px;
    height: 100%;
}

.media-img {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/me2.jpg');
    height: 400px;
    border-radius: 10px;
}




}

/*mobile*/
@media only screen and (max-width: 415px) {

}